<div class="posts list-group">
   {{username}}
    {{#each blogs}}
        <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
            <span>{{name}}</span>
            <span>{{format_date date_created}}</span>
        </a>
    {{/each}}
</div>